<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Your Room</title>
  <script> 
    const roomName = "<%= roomName %>";
    const baseURL = "<%= baseURL %>";
  </script>
  <script defer src="<%= baseURL %>/socket.io/socket.io.js"></script>
  <!-- <script defer src="/js/bootstrap.min.js"></script> -->
  <script defer src="/js/script.js"></script>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>